
@font-face {
	font-family: 'Distant Galaxy';
	src: url('/web/20190517150633im_/https://cdn2.editmysite.com/fonts/Distant_Galaxy/regular.eot');
	src: url('/web/20190517150633im_/https://cdn2.editmysite.com/fonts/Distant_Galaxy/regular.eot') format('embedded-opentype'),
			url('/web/20190517150633im_/https://cdn2.editmysite.com/fonts/Distant_Galaxy/regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Black.eot');
  src: url('Montserrat-Black.eot?') format('embedded-opentype'),
       url('Montserrat-Black.svg') format('svg'),
       url('Montserrat-Black.ttf') format('truetype'),
       url('Montserrat-Black.woff') format('woff'),
       url('Montserrat-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DistantGalaxy';
  src: url('DistantGalaxy.svg') format('svg'),
       url('DistantGalaxy.ttf') format('truetype'),
       url('DistantGalaxy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
     FILE ARCHIVED ON 15:06:33 May 17, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:41:27 Jul 19, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  load_resource: 186.653 (2)
  RedisCDXSource: 8.703
  exclusion.robots: 0.225
  exclusion.robots.policy: 0.204
  esindex: 0.017
  captures_list: 129.641
  CDXLines.iter: 22.015 (3)
  PetaboxLoader3.datanode: 98.789 (5)
  LoadShardBlock: 84.393 (3)
  PetaboxLoader3.resolve: 85.763 (2)
*/